In [2]:
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn import linear_model, datasets
import pandas as pd 
%matplotlib inline
plt.rcParams['figure.figsize'] = (10.0, 10.0)

In [3]:
path = 'regression_multi.txt'

data = pd.read_csv(path, header=None, names=['Size', 'Bedrooms', 'Price'])
data.head()

   Size  Bedrooms   Price
0  2104         3  399900
1  1600         3  329900
2  2400         3  369000
3  1416         2  232000
4  3000         4  539900

In [4]:
# Normalize the dataset 
data = (data - data.mean())/ data.std()

In [20]:
X = data.drop('Price', axis = 1)
model = linear_model.LinearRegression()
model.fit(X,data['Price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)